@import '../../site.scss';

$papercraft-header-height: 64px !default;
$papercraft-header-background-color: #666 !default;
$papercraft-header-color: #fff !default;
$papercraft-header-font-size: 18px !default;
