@import 'papercraft';

// animations for showing and hiding the side nav
@keyframes show-nav {
  from { margin-left: calc( -50px - 100% ); }
  to { margin-left: -50px; }
}
@keyframes hide-nav {
  from { margin-left: -50px; }
  to { margin-left: calc( -50px - 100% ); }
}

papercraft-layout {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  z-index: 0;
  padding: ( $papercraft-header-height + 16px ) 0 0 0;
  // padding: 0;

  text-rendering: optimizeLegibility;
  font-size: $papercraft-header-font-size;
  -webkit-font-smoothing: antialiased;
  color: $papercraft-header-color;

  // the container div
  > div:first-of-type {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: -16px - $papercraft-header-height;
    margin-left: 50px;

    &.disable-outlines {
      div {
        outline: none;
      }
    }
  }

  // the side nav
  #nav {
    float: left;
    display: block;
    position: relative;
    width: auto;
    min-width: 256px;
    height: 100%;
    z-index: 200;
    margin-left: calc( -50px - 100% );
    background-color: $papercraft-menu-background-color;
    color: $papercraft-menu-color;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);

    // trigger animation on class
    &.show-nav {
      animation-duration: 0.35s;
      animation-name: show-nav;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    // trigger animation on class
    &.hide-nav {
      animation-duration: 0.5s;
      animation-name: hide-nav;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    // force the side nav to display on large screens
    @include window(large) {
      margin-left: -50px;
      animation-name: none !important;
    }
  }

  // the background bar and container for the hamburger button
  #header {
    display: block;
    position: absolute;
    left: -72px;
    top: 0;
    height: $papercraft-header-height;
    width: 100%;
    background-color: $papercraft-header-background-color;
    padding: 0 22px 0 0;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);

    [icon=menu] {
      display: inline-block;;
      float: left;
      margin-top: (($papercraft-header-height - 24px)/2);
      left: 20px;
      position: fixed;
      @include window(large) {
        display: none;
      }
    }
  }

  // the title of the application
  h2 {
    color: $papercraft-header-color;
    display: block;
    float: left;
    margin: (($papercraft-header-height - $papercraft-header-font-size)/2) 20px 0 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    position: relative;
  }

  #contents {
    color: #000; //$papercraft-header-color;
    font-weight: normal;
    display: block;
    margin: ($papercraft-header-height) 72px 0 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 22px;

    div {
      display: inline-block;
      margin: 10px;
      padding: 10px;
      border: 1px solid #f00;
      width: 100px;
      height: 100px;
    }

  }

  // the right-justified tool bar -- these are the settings for xsmall
  #toolbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 52px;
    padding: 0 0 (($papercraft-header-height - 24px)/2) 20px;
    height: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    background-color: $papercraft-menu-background-color;
    color: $papercraft-menu-color;

    // the individual buttons and elements
    [slot] {
      display: inline-block;
      float: left;
      margin-top: (($papercraft-header-height - 24px)/2);
      &:hover {
        opacity: 0.75;
      }
    }

    // on small or larger, we put the buttons up top
    @include window(small) {
      right: 20px;
      width: auto;
      padding: 0;
      background-color: none;
      box-shadow: none;
      background-color: $papercraft-header-background-color;
      color: $papercraft-header-color;

      [slot] {
        margin-top: (($papercraft-header-height - 24px)/2);
      }
    }
  }
}
